# Discovery
# ----------
TERMINAL_INDEX_URL=https://www.amc.af.mil/AMC-Travel-Site/AMC-Space-Available-Travel-Page/
DISCOVERY_INTERVAL=1h


# Scraper service
# ----------------
# See `internal/client` for available clients (Ex: Zyte)
SCRAPER_API_KEY={CHANGE_ME}

# Postgres database
# ------------------
POSTGRES_USER=spaceatracker
POSTGRES_PASSWORD={CHANGE_ME}
POSTGRES_DB=spaceatracker

# OpenTelemetry
# --------------
# Ex: "https://grafana.net/otlp"
OTEL_EXPORTER_OTLP_ENDPOINT={CHANGE_ME}
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"

# Ex: "Authorization=Basic%20TokenHere..."
OTEL_EXPORTER_OTLP_HEADERS={CHANGE_ME}

# Comma separated list of custom resource attributes
# See: https://opentelemetry.io/docs/concepts/resources/
OTEL_RESOURCE_ATTRIBUTES="service.name=space_a_tracker,service.version=0.0.1-CHANGE-THIS,deployment.environment=production"
